Source: libosc++
Section: sound
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends: debhelper-compat (= 12), cmake (>= 3.16)
Standards-Version: 4.6.1
Homepage: https://github.com/dimitry-ishenko-cpp/liboscpp
Vcs-Browser: https://github.com/dimitry-ishenko-cpp/liboscpp
Vcs-Git: https://github.com/dimitry-ishenko-cpp/liboscpp.git
Rules-Requires-Root: no

Package: libosc++
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libosc++ – an OSC Library for C++
 The libosc++ library allows one to easily create and parse OSC (Open Sound
 Control) packets. Ref: http://opensoundcontrol.org/
 .
 OSC is an open, transport-independent, message-based protocol developed for
 communication between computers and other multimedia devices.
 .
 This package contains the shared library.

Package: libosc++-dev
Architecture: any
Depends: ${misc:Depends}, libosc++ (= ${binary:Version})
Description: libosc++ – an OSC Library for C++
 The libosc++ library allows one to easily create and parse OSC (Open Sound
 Control) packets. Ref: http://opensoundcontrol.org/
 .
 OSC is an open, transport-independent, message-based protocol developed for
 communication between computers and other multimedia devices.
 .
 This package contains development files.
